{
    "Cisco-IOS-XE-native:ipv6": {
        "route": {
            "ipv6-route-list": [
                {% for route in routes -%}
                {
                "prefix": "{{ route.ip }}{{ route.subnet }}",
                    "ipv6-fwd-list": [
                        {%- for hop in route.next_hop %}
                        {"fwd": "{{ hop.hop }}",
                        "distance": {{ hop.distance }}
                        }{{ "," if not loop.last else "" }}
                    {% endfor -%}
                    ]
                }
                {{ "," if not loop.last else "" }}
                {% endfor %}
            ]
        }
    }
}
