{
        "Cisco-IOS-XE-native:interface": {
            "GigabitEthernet": [
            {% for interface in interfaces.GigabitEthernet%}
                {
                    "name": "{{interface.number}}",
                    "description": "{{interface.description}}",
                    "ipv6": {
                        "address": {
                            "prefix-list": [
                                {% for ipv6 in interface.ipv6 %}
                                {
                                    "prefix":"{{ipv6.address}}/{{ipv6.prefix}}"
                                }{{ "," if not loop.last else "" }}{% endfor %}
                            ]
                        },
                        "enable": [null]
                    }
                }{{ "," if not loop.last else "" }}
            {% endfor %}
            ]
        }
    }